@import '../mixins.scss';

.navbar {
	width: 100%;
	padding: 5px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(30, 31, 26);
	color: #fff;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	position: fixed;
}

.navbar h1 {
	font-weight: 500;
	font-size: 20px;
}

.logo {
	width: 60px;
}

.logo-container {
	display: flex;
	align-items: center;
	gap: 10px;
}

.banner {
	width: 100%;
	height: fit-content;
	background-image: url('../../images/rtx-40.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	padding-top: 50px;
}

.rtx-info {
	width: 40%;
	font-size: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.rowlist {
	display: grid;
	grid-template-columns: repeat(4, 269px);
	height: fit-content;
	width: 100%;
	padding: 30px;
	gap: 50px;
	justify-content: center;
	background-color: rgb(30, 31, 26);
}

.angle {
	color: rgb(44, 206, 44)
}

.box {
	background-color: rgba(0, 0, 0, 0.37);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	flex-direction: column;
}

.rtx30 {
	width: 100%;
}

.overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.37);
	padding: 20px;
}

.row:nth-child(9) {
	grid-column-start: 1;
	grid-column-end: 4;
	background-color: rgba(0, 0, 0, 0.37);
	color: #fff;
	padding: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	gap: 10px;
}

.row:nth-child(9) h2 {
	font-size: 35px;
	margin-bottom: 5px;
	padding: 20px;

}

.row:nth-child(9) p {
	font-size: 15px;
	padding: 20px;
}

.row:nth-child(10){
	background-color: #a09f9f;
	color: black;
	padding: 0;
}

.row:nth-child(10) h2 {
	font-size: 30px;
}

.row:nth-child(10) p {
	padding: 20px;
}

.game {
	width: 100%;
}

.button {
	padding: 10px 20px;
	background-color: rgb(139, 207, 30);
	border: none;
	font-weight: 500;
	font-family: 'Poppins',sans-serif;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin: 10px;
}

.button, .button2 {
	cursor: pointer;
}

.button:hover,
.button2:hover {
	background-color: rgb(153, 204, 72);
	transition: .5s;
}

.button2 {
	padding: 10px 20px;
	border: none;
	font-weight: 500;
	font-family: 'Poppins',sans-serif;
	background-color: rgb(139, 207, 30);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footer {
	width: 100%;
	padding: 40px;
	background-color: black;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
