@import '../mixins.scss';
.banner,
.navbar {
	display: flex;
	color: #fff;
}
.banner,
.rowlist {
	height: fit-content;
}
.navbar,
.rowlist {
	background-color: #1e1f1a;
}
.navbar {
	width: 100%;
	padding: 5px 20px;
	justify-content: space-between;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px,
		rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px,
		rgba(0, 0, 0, 0.09) 0 -3px 5px;
	position: fixed;
}
.navbar h1 {
	font-weight: 500;
	font-size: 20px;
}
.logo {
	width: 60px;
}
.logo-container {
	display: flex;
	align-items: center;
	gap: 10px;
}
.navbar .bar {
	display: none;
}
.navbar .reg {
	display: block;
}
.banner {
	width: 100%;
	background-image: url('../../images/rtx-40.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	align-items: center;
	justify-content: center;
	padding-top: 50px;
}
.rtx-info {
	width: 40%;
	font-size: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer,
.game,
.overlay,
.row:nth-child(9) .content,
.row:nth-child(9) img,
.rowlist,
.rtx30 {
	width: 100%;
}

.banner .overlay {
	padding-left: 60px;
}

.rowlist {
	display: grid;
	grid-template-columns: repeat(4, 269px);
	padding: 30px;
	gap: 50px;
	justify-content: center;
}
.box,
.overlay,
.row:nth-child(10),
.row:nth-child(9) {
	background-color: rgba(0, 0, 0, 0.37);
}
.angle {
	color: #2cce2c;
}
.box,
.footer,
.row:nth-child(9) {
	color: #fff;
	display: flex;
}
.box {
	box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.overlay {
	height: 100%;
	padding: 20px;
}
.button,
.button2 {
	padding: 10px 20px;
	border: none;
	font-weight: 500;
	font-family: Poppins, sans-serif;
	background-color: #8bcf1e;
	box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
.row:nth-child(9) {
	grid-column-start: 1;
	grid-column-end: 4;
	padding: 0;
	box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
	gap: 10px;
}
.row:nth-child(9) h2 {
	font-size: 30px;
	margin-bottom: 5px;
	padding: 20px;
}
.row:nth-child(9) p {
	font-size: 10px;
	padding: 20px;
}
.row:nth-child(9) .dropdown {
	font-size: 15px;
}
.row:nth-child(10) {
	padding: 0;
}
.row:nth-child(10) h2 {
	font-size: 30px;
}
.row:nth-child(10) .games-content {
	padding: 10px;
	font-size: 15px;
}
.button {
	margin: 10px;
}
.button,
.button2 {
	cursor: pointer;
	transition: 0.5s;
}
.button2:hover,
.button:hover {
	background-color: #b3d47e;
}
.footer {
	background-color: #ffffff;
	color: #5f5f5d;
	justify-content: center;
	align-items: center;
}
.footer div {
	display: flex;
	padding: 50px;
	gap: 10px;
	align-items: center;
}
.footer .nvidia {
	width: 5em;
}

@media only screen and (max-width: 1246px) {
	@include Tablet;
}

@media only screen and (max-width: 928px) {
	@include Mini-Tablet;
}

@media only screen and (max-width: 811px) {
	@include Screen-Mobile;
}

@media only screen and (max-width: 574px) {
	@include Mobile;
}

@media only screen and (max-width: 433px) {
	@include Smaller-Mobile;
}

@media only screen and (max-width: 413px) {
	@include RealmeC15;
}
